@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: Noto Sans;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    color: #414141;
}
.missionDatesGridView {
    font-size: 15px;
    color: #414141;
    text-align: center;
    margin-top: -6% !important;
    z-index: 11;
}

.missionDatesGridView p {
    padding: 4px;
    border: 1px solid black;
    background-color: white;
    z-index: 111;
    border-radius: 17.5px;
}
.appliedCloseButtons button {
    width: auto;
    margin: 2px 0;
    cursor: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.titleOfMission{
    font-size: 38px;
}
.detailsOfMission{
    font-size: 17px;
}
.missionsTargets{
    position: relative;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: #757575;
}
.missionGoal{
    position: absolute;
    top:-25%;
    background-color: white;
    padding:3px;
    border:1px solid #E8E8E8;
    border-radius: 15px;
}
.smallIcon{
    width: 30px;
    height: 30px;
}
.progress-bar{
    background-color: #F88634 !important;
    width: 100%;
}
.noOfSeatLeft{
    font-size: 21px;
    color: #414141;
}
.ratingsAndButtons{
    position: relative;
    border-bottom: 1px solid black;
    color:#757575 !important;
    font-size: 17px;

}
.ratingsAndButtons button{
    border:2px solid #757575;
    border-radius: 25px;
    margin:0 10px;
    margin:7% 0;
}
.ratingsAndButtons .row{
    --bs-gutter-x: 0;   
}
.ratingStars{
    position: absolute;
    bottom:-15%;
    background-color: white;
}
.W-90{
    width: 90%;
}
.MissioninfoDiv i{
    font-size: 24px;
}
.MissioninfoDiv {
    font-size: 24px;
}
.MissioninfoCard{
    border: 1px solid #E8E8E8;
}
.textBigDark{
    font-size: 15px;
    color: #414141;
    text-align:center;
}
.textSmallLight{
    font-size: 13px;
    color: #757575;
    text-align:justify;
}
.progress{
    height: 0.70rem !important;
    border-radius: 1rem !important;
}
.applyButtonDiv button{
    padding: 10px;
    border:2px solid #F88634;
    border-radius: 25px;
    color:#F88634;
}
.hrLine{
    height:1px;
    background-color: #414141;
}
.nav-tabs .active{
    border-color: #ffffff #ffffff #000 !important;
    border-width:2px !important;
}
.nav-link{
    color:#414141 !important;
}
.titleOfMissionTab{
    font-size: 25px;
    color:#414141;
}
.detailsOfMissionTab{
    font-size: 15px;
    color:#414141;
}
.documentDownloadBtn{
    padding: 5px;
    border:1px solid #E8E8E8 !important;
    border-radius: 25px !important;
}
.userCommentsImg{
    border-radius: 100%;
    height: 75%;
    width:60px;
}
.informstionContainer{
    padding:10px;
}
.informstionContainerText h3{
    border-bottom: 2px solid black;
    margin-bottom:0 !important;
}
.gridSys{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fc);
}
.recentVolunteerImg{
    height:50px;
    width: 50px;
}
.GridViewDisplay >.bi-heart{
	color:white !important;
}
.bi-heart{
	color:black !important;
}
.bi-heart-fill{
	color:red !important;
}
.appliedCloseButtons {
    position: absolute;
}
.missionCityGridView {
    position: absolute;
    padding: 7px;
    background-color: rgb(0, 0, 0, 0.4);
    color: #ffffff;
    border-radius: 25px;
    right: 15px;
    top: 15px;
}
.hr1Line {
    height: 1px;
    background-color: black;
    margin: 5px 0;
}

.applyButtonGridView {
    margin-top: 10px;
    text-decoration: none;
    padding: 7px;
    border: 1px solid orangered;
    color: orangered;
    border-radius: 17.5px;
}
.missionLikeGridView {
    position: absolute;
    right: 5%;
    top: 15%;
}
.missionLikeGridView i {
    margin: 10px;
    font-size: 18px;
    background-color: rgb(0, 0, 0, 0.4);
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 20px;
}
.missionCategoryDiv {
    margin-top: -7%;
    color: #414141;
}
.missionCategoryGridView {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 5px 10px;
    border-radius: 17.5px;
    margin: 0 !important;
}
.card .card-title {
    font-size: 1.5rem;
    font-weight: 400;
    color: #414141;
}
.card .card-text {
    font-size: 1rem;
    color: #757575;
}
.bi-heart-fill{
	color:red !important;
}
p{
	margin-bottom:0 !important;
}
@media (max-width: 768px){
    .titleOfMission{
        font-size: 28px;
    }
    .detailsOfMission{
        font-size: 14px;
    }
    .ratingStars{
        bottom:-6%;
    }
}
