nav {
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 10px !important;
}

.left a {
    padding: 0 20px;
    text-decoration: none;
    color: #333333;
}

.profileLogo {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.left {
    justify-content: center !important;
}

.right {
    justify-content: center !important;
}

.right a {
    text-decoration: none;
}

.userName {
    font-size: 15px;
    color: #333333;
}

.dropdown-toggle::after {
    content: none !important;
}
.bellSearch img {
    padding: 0 20px;
    height: 21px;
    width: auto;
    margin-top: 10px;
}
.searchButtonMonitor {
    display: none;
}
.dropdown button {
    padding: 0 40px;
}
.sidebarClosingButton {
    width: 15px;
    height: 15px;
}
.dropdown-toggle{
    border:none !important;
}
@media only screen and (max-width: 992px) {

    .gotoSidebar,
    .gotoMainbar,
    .hideOnSmallScreen {
        display: none !important;
    }

    .filterBurger {
        display: block !important;
    }

    .searchButtonMonitor {
        display: block;
    }

    .dropdown button {
        padding: 0 0px;
    }
    .myMainSideBar button{
        display: flex !important;
        justify-content: end;
    }
}