* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.upload__box {
    padding:40px 0;
}

.upload__inputfile {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload__btn {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    min-width: 116px;
    padding: 5px;
    transition: all .3s ease;
    cursor: pointer;
    line-height: 26px;
    font-size: 14px;
    width: 100%;
    border: 1px dashed #414141;
}
    .upload:hover {
        background-color: unset;
        transition: all .3s ease;
    }

    .upload-box {
        margin-bottom: 10px;
    }


    .upload__img-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .upload__img-box {
        width: 100px;
        padding: 0 10px;
        margin-bottom: 12px;
    }

    .upload__img-close {
        width: 20px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        line-height: 20px;
        z-index: 1;
        cursor: pointer;
        color:white;
    }
    .img-bg {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        padding-bottom: 100%;
    }
    .plusIcon{
        /* width:100px; */
        color: #414141;
        font-size: 70px;
    }
    .UploadTextMsg{
        font-size: 18px;
        color: #414141;
    }
    .btn{
        border: 1px solid;
        border-radius: 25px;
        margin:8px 3px;
    }
    .rightButtons .btn{
        border-color: #F88634;
        color:#F88634;
    }
    .ck-dropdown,.ck-disabled,.ck-toolbar__separator{
        display: none !important;
    }
