*{
    padding: 0;
    margin: 0;
}
.titleOfStory{
    font-size: 40px;
}
.rightArrow{
    position: absolute;
}
.ck-editor__editable_inline {
    min-height: 150px;
}
.plusIcon{
    /* width:100px; */
    color: #414141;
    font-size: 70px;
}
.UploadTextMsg{
    font-size: 18px;
    color: #414141;
}
.btn{
    border: 1px solid black !important;
    border-radius: 25px;
    margin:8px 3px;
}
.rightButtons .btn{
    border-color: #F88634 !important;
    color:#F88634 !important;
}
.ck-dropdown,.ck-disabled,.ck-toolbar__separator{
    display: none !important;
}
.roundedButton{
	border-radius:25px !important;
}