* {
    margin: 0;
    padding: 0;
}

.profileEditTag {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border: 0.5px solid #D9D9D9;
}

.profilePic {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.nameOfuser {
    font-size: 22px;
    margin: 0 !important;
}

.basicInfoTagText {
    font-size: 19px;
    margin: 0 !important;
    max-width: fit-content;
    border-bottom: 2px solid #414141;
}

.basicInfoTag {
    border-bottom: 1px solid #D9D9D9;
}

.InputFields {
    margin-top: 15px !important;
}

.textAreaofsKILLS {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #414141;
    background-color: #fff;
    background-clip: padding-box;
}

.textAreaofsKILLS select {
    list-style: none !important;
    margin-bottom: 0.5rem !important;
    padding-left: 1rem !important;
}

.roundButton {
    padding: 7px 12px !important;
    border: 2px solid #757575 !important;
    border-radius: 25px !important;
    color: #757575 !important;
}

.orangeButton {
    border-color: #F88634 !important;
    color: #F88634 !important;
}

.modalDialogForSkills {
    min-width: 50vw !important;
    min-height: 60vh !important;
}

.listboxes {
    width: 100% !important;
    height: 50vh;
    overflow: auto;
}

.leftRightButton img {
    width: 10px;
    height: 15px;
}

.mainSkillBox {
    width: 100% !important;
    border-color: #ced4da;
    overflow: auto;
    height: 120px;
}

.footer{
    border-top:1px solid #414141 !important;
    min-height:75px;
}
@media (max-width: 576px) {
    .listboxes {
        height: auto !important;
    }
    #btnRight{
        transform: rotate(90deg);
    }
    #btnLeft{
        transform: rotate(90deg);
    }
    .leftRightButton {
        flex-direction: row !important;
    }
 }