@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Noto  Sans;
}
.carouselLabelText{
    font-size: 2.68rem;
}
.carouselDescriptionText{
    font-size: 1rem;
}
.login a{
    font-size: 14px;
    text-decoration: none;
}
.login p{
    font-size: 14px;
    margin-top: 10px;
}
form label{
    font-size: 16px;
    /* font-family: NotoSans-Light; */
}
button[type=submit]{
    color:#F88634;
    border-radius: 24px;
    border: 2px solid #F88634;
    margin-top: 15px;
}
button[type=submit]:hover{
    background-color:#F88634;
    color: white;
}
img{
    width:100%;
}
.size-fix{
    height: 100vh;
}
.col-lg-8{
    padding-left: 0 !important;
}
.login{
    /* margin-top:14%; */
    padding:0 5%;
}
.registration{
    padding:0 2%;
}
.forgotPass{
    color: #414141;
    font-size: 22px !important;
}
.carousel-indicators [data-bs-target] {
    width: 8px !important;
    height: 8px !important;
    border-radius: 100%;;
}
.form-control{
    line-height:2 !important;
}
.error{
	color:red !important;
}
@media screen and (max-width: 1360px) {
    .carouselLabelText{
        font-size: 1.68rem;
    }
    .carouselDescriptionText{
        font-size: 0.68rem;
    }
    .size-fix{
        height: 100vh;
    }
  }

@media screen and (max-width: 992px) {
    .row{
        --bs-gutter-x:0;
    }
    .container-fluid{
        padding:0 !important;
    }
    .login{
        padding:20px;
        margin-top: 0;
    }
    .size-fix{
        height: auto;
    }
    .registration{
        margin-top: 30px;
    }
  }
  @media screen and (max-width: 767px) {
    .size-fix{
        height: auto;
    }
  }
