*{
    margin: 0;
    padding: 0;
}
.headingOfPAge{
    font-size: 28px;
    background-color: white;
}
.list-example p{
    font-size: 44px !important;
}
.listItemTab button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 0;
    margin-bottom: 1rem;
}
.listItemTab a{
    color:#757575;
    font-size: 14px;
    text-decoration: none;
    padding-left: 10px ;
}
.listItemTab img{
    padding-right: 10px ;
}
.listItemTab{
    position: -webkit-sticky;
  position: sticky;
  top:12%;
  color:#757575;
}
/* #headerIncludedTag{
    position: -webkit-sticky;
  position: sticky;
  top:0;
  z-index: 111;
  background-color: white;
} */
.headingTagDiv{
    position: sticky;
    position: -webkit-sticky;
    top:0;
}
.activeComponent{
    color: #333333 !important;
}
.listItemTitle{
    font-size: 28px !important;
}
.subTitleGroupText{
    font-size: 20px;
    font-weight:100;
}
ol { counter-reset: item }
li{ display: block }
li:before { content: counters(item, ".") " "; counter-increment: item }

/* Footer Css  */

.footer{
    border-top:1px solid #414141 !important;
    min-height:75px;
}
@media (max-width: 576px) {
    .listItemTab{
        position: static;
    }
    .headingTagDiv{
        position: static;
    }
}