*{
    margin: 0;
    padding: 0;
    color:#414141;
}
.headerOfTimeSheet{
    font-size: 40px;
    color: #414141;
}
.table td,th{
    font-size: 14px;
}
.table img{
    width: 19px;
    height: 19px;
}
.card{
    height: 500px !important;    
    overflow-y:scroll;
}
.modal-dialog {
    max-width: 50vw !important;
}
.addTimeSheetButton{
	padding:7px;
	border: 1px solid #F88634;
	border-radius:25px;
	color:#F88634 !important;
}
.addTimeSheetButton i{
	color:#F88634 !important;
}
.error{
	color:red;
}
@media (max-width: 576px) { 
    .headerOfTimeSheet{
        font-size: 24px;}
    .table td,th{
        font-size: 9px;
    }
    .table img{
        width: 10px;
        height: 10px;
    }
    .modal-dialog {
    max-width: 100vw !important;
	}
    
 }
 @media (max-width: 991px) {
    .card{
        min-height: 0 !important;    
    }
 }